<div class="py-5 bg-white shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 style="font-weight: bold;"><%= image_tag 'keiken_icon_green.png', class: "img-fluid mr-2 mb-2", style: "height: 50px;" %>Keikenとは？</h1>
        <p style="font-weight: bold;">いま困っていること、悩んでいることを自由に<br>経験者に質問ができるコミュニティサイトです。</p>
      </div>
      <div class="col-lg-3 col-md-6 col-6 p-0">
        <div class="pt-4 mt-3 mb-5 text-center pr-3 pl-3 border-right">
          <h3 class="font-weight-bold mb-2">Case1</h3>
          <%= image_tag 'nayami1.png', class: "card-img" %>
          <p class="mt-2">会社を辞めてワーホリに行きたいです。ワーホリ経験のある方、どの国に行ったか、出発前の貯金や言語力など聞かせてください。</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6 p-0">
        <div class="pt-4 mt-3 mb-5 text-center pr-3 pl-3 border-right">
          <h3 class="font-weight-bold mb-2">Case2</h3>
          <%= image_tag 'nayami4.png', class: "card-img" %>
          <p class="mt-2">遠距離恋愛中の彼氏がいます。遠距離経験者の方、どうやって距離を乗り越えましたか？教えてください。</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6 p-0">
        <div class="pt-4 mt-3 mb-5 text-center pr-3 pl-3 border-right">
          <h3 class="font-weight-bold mb-2">Case3</h3>
          <%= image_tag 'nayami3.png', class: "card-img" %>
          <p class="mt-2">未経験でプログラマーへ転職を目指しています。HTML/CSS/JavaScriptは習得済みです。どれくらい言語を身に着けたら就活で相手にしてもらえますか？</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6 p-0">
        <div class="pt-4 mt-3 mb-5 text-center pl-3 pr-3">
          <h3 class="font-weight-bold mb-2">Case4</h3>
          <%= image_tag 'nayami2.png', class: "card-img" %>
          <p class="mt-2">娘が大学受験生です。どのようなサポートをすればよいかわからず、お子さんが大学受験を終えた親御様、どのようなサポートをされたかお聞かせいただけますか？</p>
        </div>
      </div>
    </div>
  </div>
</div>
