<div class="bg-white">
  <div class="row align-items-center no-gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 text-lg-right text-center">
      <%= link_to anounce_path do%>
      <h5 class="text-center mt-2" style="font-weight: bold;">2021.5.14</h5>
      <h3 class="text-center mt-2" style="font-weight: bold; color: #fa518b;">サイトオープンのお知らせ</h3>
      <% end %>
    </div>
  </div>
</div>
<div class="bg-primary">
  <div class="container">
    <!-- Hero Section -->
    <div class="row align-items-center no-gutters">
      <div class=" col-xl-12 col-lg-12 col-md-12 text-lg-right text-center">
        <%= image_tag 'kanban_resize.png', class: "img-fluid mt-4" %>
        <div class="py-2 text-center">
          <p class="lead" style="font-size: 16px;">意外と身近にいない○○経験者。<br class="d-sm-none"/>そんなときは<span style="font-weight: bold;">Keiken</span>で質問してみましょう。
          <br>経験者があなたの質問に答えてくれます。</p>
        </div>
        <div class="col-12">
          <div class="d-flex align-items-center justify-content-center text-center mb-3">
            <%= link_to "さっそく始める", new_user_registration_path, class: "btn btn-success btn-rounded pl-10 pr-10 rounded-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'about' %>
<%= render 'how_to' %>
<div class="p-lg-5 py-5 bg-white">
  <div class="container">
    <div class="col-12 text-center mb-3">
      <h1 style="font-weight: bold;">最新の質問</h1>
    </div>
    <% if @recent_posts.present? %>
      <% @recent_posts.each do |recent_post| %>
      <%= link_to post_path(recent_post),data: {"turbolinks" => false}, class: "text-inherit" do %>
      <div class="card mb-5" style="border: 1px solid">
        <div class="card-body p-1 p-sm-3">
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-between flex-column">
              <% if recent_post.user.profile_image.present? %>
                <%= image_tag recent_post.user.profile_image.url, class: "avatar-lg rounded-circle border-width-4 border-white" %>
                <%= recent_post.user.name %>
              <% else %>
                <%= image_tag "profile_default_img_128.png", class: "avatar-lg rounded-circle border-width-4 border-white" %>
                <%= recent_post.user.name %>
              <% end %>
            </div>
            <div class="ml-3 d-flex flex-column">
              <% if recent_post.post_image.present? %>
              <h4 class="mb-1" style="font-weight: bold;"><%= recent_post.title.truncate(30) %><i class="far fa-image font-size-lg"></i></h4>
              <% else %>
              <h4 class="mb-1" style="font-weight: bold;"><%= recent_post.title.truncate(30) %></h4>
              <% end %>
              <p><%= recent_post.content.truncate(50) %></p>
              <div class="d-flex flex-row">
                <li class="list-inline-item"><i class="fa fa-tags mr-1"></i><%= "#{recent_post.category.root.name}/#{recent_post.category.name}" %></li>
                  <% if user_signed_in? %>
                    <div class="ml-2"id="like-icon-post-<%= recent_post.id.to_s %>">
                        <% if recent_post.liked_by(current_user).present? %>
                          <%= link_to "いいねを取り消す", post_like_path(recent_post.id, recent_post.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text" %>
                        <% else %>
                          <%= link_to "いいね", post_likes_path(recent_post), method: :POST, remote: true, class: "love hide-text" %>
                        <% end %>
                    </div>
                    <li class="list-inline-item" style="font-weight: bold;"><div id="like-text-post-<%= recent_post.id.to_s %>"><%= render "posts/like_text", { likes: recent_post.likes } %></div></li>
                  <% else %>
                    <li class="list-inline-item" style="font-weight: bold;"><i class="far fa-heart ml-2 mr-1"></i><%= recent_post.likes.count %></li>
                  <% end %>
                <li class="list-inline-item" style="font-weight: bold;"><i class="far fa-comment-alt ml-2 mr-1"></i><%= recent_post.answers.count %></li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    <% else %>
    <P>受付中の質問はありません</p>
    <% end %>
    <div class="text-right">
    <%= link_to "もっと見る", posts_path, class: "text-inherit font-size-md"%>
    </div>
  </div>
</div>
