<div class="p-lg-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-12 col-12 mt-md-15">

      </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-12 mb-5 mt-4">
          <div class="border-bottom pb-2 mb-4 d-lg-flex justify-content-between align-items-center">
            <div>
              <h1 class="mb-0 h2">回答受付中のQ&A</h1>
            </div>
          </div>
          <% if @post.present? %>
            <% @post.each do |post| %>
            <%= link_to post_path(post),data: {"turbolinks" => false}, class: "text-inherit" do %>
              <div class="card mb-5">
                <div class="card-body pt-2 pb-2">
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-between flex-column">
                      <% if post.user.profile_image.present? %>
                        <%= image_tag post.user.profile_image.url, class: "avatar-lg rounded-circle border-width-4 border-white" %>
                        <%= post.user.name %>
                      <% else %>
                        <%= image_tag "profile_default_img_128.png", class: "avatar-lg rounded-circle border-width-4 border-white" %>
                        <%= post.user.name %>
                      <% end %>
                    </div>
                    <div class="ml-3 d-flex flex-column">
                      <h4 class="mb-1" style="font-weight: bold;"><%= post.title %></h4>
                      <p><%= post.content %></p>
                    </div>
                    <div style="margin-left: auto;">
                      <% if post.post_image.present? %>
                        <%= image_tag post.post_image.url, class: "img-fluid", style:"height: 100px; width: auto; object-fit: cover;"%>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
