<div class="p-lg-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-9 col-md-12 col-12 mb-5 mt-4">
          <div class="card mb-5">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="d-flex flex-column justify-content-between align-items-center mb-2">
                  <% if @post.user.profile_image.present? %>
                  <%= image_tag @post.user.profile_image.url, class: "rounded-circle avatar-md mb-2" %>
                  <% else %>
                  <%= image_tag "profile_default_img_128.png", class: "rounded-circle avatar-md mb-2" %>
                  <% end %>
                  <div class="d-flex flex-column mb-2 text-center">
                    <h4 class="mb-1"><%= @post.user.name %></h4>
                    <span class="font-size-xs text-muted"><%= time_ago_in_words(@post.created_at) + "前" %></span>
                  </div>
                </div>
                <div class="ml-3 d-flex flex-column">
                  <h4 class="mb-3" style="font-weight: bold;"><%= @post.title %></h4>
                  <p class="mb-3" style="font-weight: bold;"><%= @post.content %></p>
                  <% if @post.post_image.present? %>
                    <%= image_tag @post.post_image.url, class: "img-fluid", style:"height: 200px; width: auto; object-fit: cover;"%>
                  <% end %>
                  <li class="list-inline-item"><i class="fa fa-tags mr-1"></i><%= "#{@post.category.root.name}/#{@post.category.name}" %></li>
                  <div class="d-flex flex-row">
                    <div class="mr-1 mt-1" id="like-icon-post-<%= @post.id.to_s %>">
                      <% if @post.liked_by(current_user).present? %>
                        <%= link_to "いいねを取り消す", post_like_path(@post.id, @post.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text" %>
                      <% else %>
                        <%= link_to "いいね", post_likes_path(@post), method: :POST, remote: true, class: "love hide-text" %>
                      <% end %>
                    </div>
                    <div class="mt-1" id="like-text-post-<%= @post.id.to_s %>">
                      <span style="font-weight: bold;"><%= @post.likes.count %></span>
                    </div>
                    <li class="list-inline-item"><i class="far fa-comment-alt ml-2 mt-2"></i></li>
                  </div>
                </div>
              </div>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-lt-tab" id="tab" role="tablist">
               <!-- Nav item -->
              <li class="nav-item">
                <a class="nav-link active" id="description-tab" data-toggle="pill" href="#description" role="tab"
                  aria-controls="description" aria-selected="false">経験の詳細</a>
              </li>
              <!-- Nav item -->
              <li class="nav-item">
                <a class="nav-link" id="comment-tab" data-toggle="pill" href="#comment" role="tab" aria-controls="comment"
                  aria-selected="false">コメント</a>
              </li>
              <!-- Nav item -->
              <li class="nav-item">
                <a class="nav-link" id="other_plan-tab" data-toggle="pill" href="#other_plan" role="tab"
                  aria-controls="other_plan" aria-selected="false">その他のプラン</a>
              </li>
              <!-- Nav item -->
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="pill" href="#profile" role="tab" aria-controls="profile"
                  aria-selected="false">Profile</a>
              </li>
            </ul>
          </div>
          <!-- Card -->
          <div class="card rounded-lg">
            <!-- Card body -->
            <div class="card-body">
              <div class="tab-content" id="tabContent">
                <!-- Tab pane -->
                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                  <div class="mb-4">
                    <h3 class="mb-2">経験の詳細</h3>
                  </div>
                  <h4 class="mb-3">What you’ll learn</h4>
                  <div class="row mb-3">
                    <div class="col-12 col-md-6">
                      <!-- List group -->
                      <ul class="list-unstyled">
                        <li class="d-flex align-item-center mb-2">
                          <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                          <span>
                            Recognize the importance of understanding your objectives when addressing an audience.
                          </span>
                        </li>
                        <li class="d-flex align-item-center mb-2">
                          <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                          <span>
                            Identify the fundaments of composing a successful close.
                          </span>
                        </li>
                        <li class="d-flex align-item-center mb-2">
                          <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                          <span>
                            Explore how to connect with your audience through crafting compelling stories.
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-12 col-md-6">
                      <!-- List group -->
                      <ul class="list-unstyled">
                        <li class="d-flex align-item-center mb-2">
                          <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                          <span>
                            Examine ways to connect with your audience by personalizing your content.
                          </span>
                        </li>
                        <li class="d-flex align-item-center mb-2">
                          <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                          <span>
                            Break down the best ways to exude executive presence.
                          </span>
                        </li>
                        <li class="d-flex align-item-center mb-2">
                          <i class="far fa-check-circle text-success mr-2 lh-lg"></i>
                          <span>
                            Explore how to communicate the unknown in an impromptu communication.
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <p>Maecenas viverra condimentum nulla molestie condimentum. Nunc ex libero, feugiat quis lectus vel,
                    ornare euismod ligula. Aenean sit amet arcu nulla.</p>
                  <p>
                    Duis facilisis ex a urna blandit ultricies. Nullam sagittis ligula non eros semper, nec mattis odio
                    ullamcorper. Phasellus feugiat sit amet leo eget consectetur.
                  </p>
                </div>
                <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                  <div class="mb-2">
                    <!-- Content -->
                    <h3 class="mb-4">コメント<span class="text-muted font-size-xs"></span></h3>
                  </div>
                  <hr class="my-3" />
                  <div class="mb-3">
                    <!-- Comment -->
                    <div class="d-lg-flex align-items-center justify-content-between mb-5">
                      <div class="mb-3 mb-lg-0">
                        <h4 class="mb-0">最新のコメント</h4>
                      </div>
                      <div>
                        <!-- Search -->
                        <form class="form-inline">
                          <div class="d-flex align-items-center mr-2">
                            <span class="position-absolute pl-3">
                              <i class="fe fe-search"></i>
                            </span>
                            <input type="search" class="form-control pl-6" placeholder="Search Review" />
                          </div>
                        </form>
                      </div>
                    </div>

                    <div class="card-body border-bottom pb-4 mb-4">
                      <div class="d-flex align-items-center justify-content-between">

                        <div class="ml-2 lh-1">
                          <h4 class="mb-1"></h4>
                          <span class="ml-1 font-size-xs text-muted"></span>
                        </div>
                        <div style="margin-left: auto;">
                        </div>
                      </div>
                      <div class="d-flex mb-5">
                        <span></span>
                      </div>
                    </div>

                  <div class="container">

                      <div class="row">
                        <div class="form-group col-12 col-md-12">

                        </div>
                        <div class="col-12 text-center">

                        </div>
                      </div>

                  </div>
                </div>
                </div>

                <div class="tab-pane fade" id="other_plan" role="tabpanel" aria-labelledby="other_plan-tab">
                    <!-- Card header -->
                    <div class="card-header" style="background-color: #fff;">
                      <h4 class="mb-0">
                        掲載中のプラン <span class="text-muted font-size-xs"></span>
                      </h4>
                    </div>
                    <!-- Description -->
                    <div class="card-body">
                      <!-- List group -->
                      <ul class="list-group list-group-flush">
                        <!-- List group item -->

                        <li class="list-group-item px-0 pb-3 pt-0">
                          <div class="d-flex align-items-center justify-content-between">

                              <div class="d-lg-flex align-items-center">
                                <div>
                                  <img src="/geeks-1.0.1/dist/assets/images/course/course-wordpress.jpg" alt="" class="rounded img-4by3-lg" />
                                </div>
                                <div class="ml-lg-3 mt-2 mt-lg-0">
                                  <h4 class="text-inherit">

                                  </h4>
                                  <ul class="list-inline font-size-xs mb-0 text-inherit">
                                    <li class="list-inline-item">
                                      <i class="mdi mdi-star text-warning mr-1"></i>

                                    </li>
                                    <li class="list-inline-item">
                                      <i class="fa fa-comments mr-1"></i>
                                      <span class="text-muted">

                                      </span>
                                    </li>
                                    <li class="list-inline-item">
                                      <i class="fa fa-tags mr-1"></i>

                                    </li>
                                  </ul>
                                </div>
                              </div>

                            <div>
                              <!-- Dropdown -->
                              <span class="dropdown dropleft">
                                <i class="far fa-clock mr-1"></i>

                              </span>
                            </div>
                          </div>
                        </li>

                      </ul>
                    </div>

                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <!-- profile -->
                  <div>
                    <h3 class="mb-3">自己紹介</h3>
                    <div class="mb-4">
                      <h4>xxx</h4>
                      <p></p>
                    </div>
                    <div class="mb-4">
                      <h4>
                        What is important of this course?
                      </h4>
                      <p>
                        We'll dive into GraphQL, the fundamentals of GraphQL. We're only gonna use the pieces of it that
                        we need to build in Gatsby. We're not gonna be doing a deep dive into what GraphQL is or
                        the language specifics. We're also gonna get into MDX. MDX is a way to write React components in
                        your markdown.
                      </p>
                    </div>
                    <div class="mb-4">
                      <h4>Why Take This Course?</h4>
                      <p>
                        We'll dive into GraphQL, the fundamentals of GraphQL. We're only gonna use the pieces of it that
                        we need to build in Gatsby. We're not gonna be doing a deep dive into what GraphQL is or
                        the language specifics. We're also gonna get into MDX. MDX is a way to write React components in
                        your markdown.
                      </p>
                    </div>
                    <div class="mb-4">
                      <h4>
                        Is able to create application after this course?
                      </h4>
                      <p>
                        We'll dive into GraphQL, the fundamentals of GraphQL. We're only gonna use the pieces of it that
                        we need to build in Gatsby. We're not gonna be doing a deep dive into what GraphQL is or
                        the language specifics. We're also gonna get into MDX. MDX is a way to write React components in
                        your markdown.
                      </p>
                      <p>
                        We'll dive into GraphQL, the fundamentals of GraphQL. We're only gonna use the pieces of it that
                        we need to build in Gatsby. We're not gonna be doing a deep dive into what GraphQL is or
                        the language specifics. We're also gonna get into MDX. MDX is a way to write React components in
                        your markdown.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>
