<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon icon-->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <!-- Libs CSS -->
    <%= render 'layouts/libs_css' %>
    <!-- Theme CSS -->
    <%= render 'layouts/theme_css' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Keiken</title>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
    <!-- Libs JS -->
    <%= render 'layouts/libs_JS' %>
    <!-- clipboard -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
    <!-- Theme JS -->
    <script src="/geeks-1.0.1/dist/assets/js/theme.min.js"></script>
    <%= render 'layouts/footer' %>
  </body>
</html>
